<?xml version="1.0"?>

<model>
  <name>Stickbot Humanoid 32DOF SDF</name>
  <version>0.0.1</version>
  <sdf>stickbot_humanoid_32dof_sdf.sdf</sdf>

  <author>
    <name>Chien-Liang Fok</name>
    <email>liangfok@utexas.edu</email>
  </author>

  <description>
    A simple 32 DOF humanoid stick bot.
    The model is stored in SDF format.
  </description>
</model>
