<?xml version="1.0"?>

<model>
  <name>Stickbot Lowerleg 3DOF SDF</name>
  <version>0.0.1</version>
  <sdf>stickbot_lowerleg_3dof_sdf.sdf</sdf>

  <author>
    <name>Chien-Liang Fok</name>
    <email>liangfok@utexas.edu</email>
  </author>

  <description>
    A simple 3 DOF lower leg stick bot.
    The model is stored in SDF format.
  </description>
</model>
