<?xml version="1.0"?>

<model>
  <name>Stickbot Humanoid 32DOF URDF</name>
  <version>0.0.1</version>
  <sdf>stickbot_humanoid_32dof_urdf.urdf</sdf>

  <author>
    <name>Chien-Liang Fok</name>
    <email>liangfok@utexas.edu</email>
  </author>

  <description>
    A simple 32 DOF humanoid stick bot.
    The model is stored in URDF format.
  </description>
</model>
